<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    
    <h1 mat-dialog-title>Edit Todo</h1>
    <div mat-dialog-content>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Add Todo</mat-label>
                <input [disabled]="loading" [(ngModel)]="todoName" matInput placeholder="Name">
                <mat-hint>Please enter a name</mat-hint>
            </mat-form-field>
        </div>
        <div *ngIf="user.todos.length > 0">
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Remove Todo</mat-label>
                <mat-select  [(value)]="selectedTodos" multiple>
                    <mat-option *ngFor="let todo of user.todos;let todoIndex = index;" [value]="todo">{{todo.name}}</mat-option>
                </mat-select>
                <mat-hint>Remove Todos from User's List</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
        <button [disabled]="loading" mat-button (click)="saveChanges()" cdkFocusInitial>Save</button>
    </div>
    </div>