<div class="trust-row">
    <!-- <div class="headline">
      Simple-CRM PROVIDES A SECURE PLATFORM 
    </div> -->
    <div class="trusticon-container">
        <div>
            <img class="trusticon" src="assets/img/trustsymbols/dsgvo.jpg">
            <img class="trusticon" src="assets/img/trustsymbols/germany.png">
        </div>
        <div>
            <img class="trusticon" src="assets/img/trustsymbols/lock.png">
            <img class="trusticon" src="assets/img/trustsymbols/server.png">

        </div>
    </div>
  </div>