.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        margin-top: 5vh;
    }
    
    button {
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: #e91e63;
        }
        
    }
    mat-icon {
        transform: rotate(90deg);
        font-size: 4rem;
        height: unset;
        width: unset;
        color: #fff;
    }
    

}


.background-image {
    object-fit: contain;
    margin-top: 5vh;
    background-color: #48CCD9;
    border-radius: 50% 50% 50% 50%;
    border-bottom: 1rem solid grey;
    max-height: 75vh;
}

.landing-page-overlay {
    position: absolute;
    left: 0;
    right: 0;
    // top: 0;
    width: 100vw;
    // height: 100vh;
}

.landing-page-container {
    width: 100vw;

    h1 {
        margin-top: 5vh;
        color: #3f51b5;
        font-size: 48px;
        line-height: 72px;
    }
}


header {

    nav {
        display: flex;
        justify-content: flex-end;
        padding: 32px;
        
        img {
            object-fit: contain;
            position: absolute;
            left: 4rem;
            top: 1rem;
            max-height: 5rem;
            // filter: invert(1);
        }

        a {
            color: #3f51b5;
            margin-left: 32px;
            margin-right: 32px;
            text-decoration: none;
            font-weight: 550;
            font-size: 16px;
            letter-spacing: 1.25px;

            &:hover {
                color: #e91e63;
            }
        }
    }

}

.d-none {
    display: none;
}