// Responsive SCSS styles 

@media (max-width: 1200px) {
    .headline-container {
        h1 {
            font-size: 36px;
        }
    }

    .about-section {
        button {
            font-size: 1.3rem;
        }
    }

    .about-details {
        div {
            padding: 3rem;
            width: 40vw;
        }
    }

}

@media (max-width: 1000px) {
    header nav img {
        max-height: 4rem;
        left: 3rem;
    }
    .headline-container {
        h1 {
            font-size: 32px;
            line-height: 42px;
        }
    }

    .about-details {
        flex-direction: column;
        align-items: center;

        div {
            width: 70vw;
            padding: 2rem;
        }
    }
}

@media (max-width: 1000px) and (max-height: 850px) {
    .about-section {
        padding-top: 2rem;
        h3 {
            font-size: 1.2rem;
        }

        span {
            margin-top: 1rem;
        }
        
        button {
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            margin-bottom: 0;
        }
    }

    .section-1 {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    
    .about-details {
        margin-top: 1rem;
        margin-bottom: 1rem;

        div {
            padding: 1rem;
            img {
                max-height: 10rem;
            }

            h3 {
                font-size: 1.1rem;
            }

            span {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 850px) {
    
    .headline-container {
        padding: 2rem;

        mat-icon {
            font-size: 2.5rem;
        }
    }
    .background-image {
        padding-bottom: 0.5rem;
    }

    .about-section {
        padding-top: 2rem;

        h3 {
            font-size: 1.3rem;
        }

        span {
            width: 80%;
            text-align: center;
            font-size: 1.1rem;
            margin-top: 1rem;
        }

        button {
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
        }
    }
    .about-details div {
        padding: 1rem;
    }

    .btn-container {
        margin: 3rem;
    }


    .landing-page-overlay {
        position: relative;
        text-align: center;
    }

    header {
        display: none;
    }
}

// Landscape-view - mobile devices
@media (max-width: 850px) and (max-height: 450px) {
    .landing-page-container {
        height: 120vh;
    }

    .headline-container {
        padding: 0;

        h1 {
            font-size: 28px;
            line-height: 36px;
            margin: 0.5rem;
        }
    }
}

@media (max-width: 650px) {
    header nav {
        padding: 28px 16px;

        img {
            max-height: 3rem;
            left: 2rem;
        }

        a {
            margin-left: 16px;
            margin-right: 16px;
        }
    }
    
    .headline-container {
        h1 {
            font-size: 28px;
            line-height: 38px;
        }
    }
   
    .background-image {
        max-height: 45%;
    }

}


// Portrait-view - mobile devices

@media (max-width: 450px) {
    .about-section {
        h3 {
            font-size: 1.2rem;
        }
        span {
            width: 90%;
        }
        button {
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }
    }
    .section-1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .about-details {
        div {
            h3 {
                font-size: 1.1rem;
                margin-bottom: 0.5rem;
            }
            span {
                font-size: 1rem;
            }
        }
    }
}