// Color-variables:
$custom-violet: #3f51b5;;
$custom-magenta: #e91e63;
$custom-cyan: #48CCD9;
$custom-white: #fff;
$custom-grey: #545454;
$custom-darkblue: #3A3F59;


header {

    nav {
        display: flex;
        justify-content: flex-end;
        padding: 32px;
        
        img {
            object-fit: contain;
            position: absolute;
            left: 4rem;
            top: 1rem;
            max-height: 5rem;
        }

        a {
            color: $custom-violet;
            margin-left: 32px;
            margin-right: 32px;
            text-decoration: none;
            font-weight: 550;
            font-size: 16px;
            letter-spacing: 1.25px;
            transition: 125ms all ease-in-out;

            &:hover {
                color: $custom-magenta;
            }
        }
    }
}

.landing-page-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    max-width: 100%;
    background-color: #fff;
    text-align: center;
}

.landing-page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 1rem;
        color: $custom-violet;
        font-size: 44px;
        line-height: 56px;
        opacity: 0;
        animation: 0.5s flyIn ease-out forwards;
    }

    h2 {
        margin-top: 2vh;    
        color: $custom-darkblue;
        opacity: 0;
        animation: 0.5s flyIn ease-out 0.25s forwards;
    }
    
    button {
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: unset;

        &:hover {
            background-color: $custom-magenta;
        }
        
    }
    mat-icon {
        font-size: 3rem;
        height: unset;
        width: unset;
        color: $custom-violet;
        cursor: pointer;
        animation: up-down 1.5s infinite;
        transition: 125ms all ease-in-out;

        &:hover {
            color: $custom-magenta;
        }
    }
}

.background-image {
    object-fit: contain;
    background-color: $custom-cyan;
    border-radius: 50% 50% 0 0;
    max-height: 50%;
    padding-bottom: 1rem;
    // opacity: 0;
    // animation: 0.5s flyIn ease-out 0.5s forwards;
}


.d-none {
    display: none;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    background-color: $custom-white;

    h3 {
        color: $custom-violet;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    .separator {
        max-width: 40%;
        width: 15rem;
        border-bottom: 4px solid $custom-violet;
        border-radius: 50%;
        opacity: 0.8;
    }

    span {
        margin-top: 2rem;
        font-size: 1.2rem;
        color: $custom-darkblue;
    }

    button {
        margin-bottom: 3rem;
        font-size: 1.3rem;
        padding: 1rem 1.3rem;
        text-transform: uppercase;

        &:hover {
            background-color: $custom-magenta;
        }
    }
}

.about-details {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

    div {
        width: 30vw;
        padding: 3rem;

        img {
            max-height: 12rem;
            max-width: 100%;
            object-fit: contain;
            border-radius: 1rem;
            margin-bottom: 0.5rem;
        }

        h3 {
            color: $custom-violet;
            font-weight: bold;
            font-size: 1.2rem;
        }

        span {
            color: $custom-darkblue;
            max-width: 10rem;
            font-size: 1.1rem;
        }
    }

}
.btn-container {
    margin: 4rem;
}

.mobile-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

.section-1 {
    background-color: $custom-cyan;
    padding-top: 2rem;
    padding-bottom: 3rem;

    h3, span {
        color: $custom-white;
    }

    .separator {
        border-bottom-color: $custom-white;
    }
}

@keyframes flyIn {
    from {
        opacity: 0;
        transform: translateY(24px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        transform: translateY(-10px);
        opacity: 1;
    }
}