.background-image {
    object-fit: cover;
}

.landing-page-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.landing-page-container {
    background-color: rgba(60, 36, 196, 0.5);
    display: flex;
    align-items: center;
    width: calc(100vw - 160px);

    padding-left: 160px;
    h1 {
        color: white;
        font-size: 64px;
        line-height: 100px;
    }
}


header {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;

    nav {
        display: flex;
        justify-content: flex-end;
        padding: 32px;

        a {
            color: white;
            margin-left: 32px;
            margin-right: 32px;
            text-decoration: none;
            font-weight: 550;
            font-size: 16px;
            letter-spacing: 1.25px;

            &:hover {
                color: rgba(255,255,255,0.6);
            }
        }
    }

}

.d-none {
    display: none;
}