// Color-variables:
$custom-violet: #3f51b5;;
$custom-magenta: #e91e63;
$custom-cyan: #48CCD9;
$custom-white: #fff;
$custom-grey: #545454;
$custom-darkblue: #3A3F59;


header {

    nav {
        display: flex;
        justify-content: flex-end;
        padding: 32px;
        
        img {
            object-fit: contain;
            position: absolute;
            left: 4rem;
            top: 1rem;
            max-height: 5rem;
            // filter: invert(1);
        }

        a {
            color: $custom-violet;
            margin-left: 32px;
            margin-right: 32px;
            text-decoration: none;
            font-weight: 550;
            font-size: 16px;
            letter-spacing: 1.25px;
            transition: 125ms all ease-in-out;

            &:hover {
                color: $custom-magenta;
            }
        }
    }
}

.landing-page-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    max-width: 100%;
    background-color: #fff;
}

.headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        margin-top: 1rem;
        color: $custom-violet;
        font-size: 44px;
        line-height: 56px;
    }

    h2 {
        margin-top: 2vh;    
        color: $custom-darkblue;
    }
    
    button {
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $custom-magenta;
        }
        
    }
    mat-icon {
        transform: rotate(90deg);
        font-size: 3rem;
        height: unset;
        width: unset;
        color: $custom-white;
    }
}

.background-image {
    object-fit: contain;
    margin: 4rem;
    margin-bottom: 1rem;
    background-color: $custom-cyan;
    border-radius: 50% 50% 50% 50%;
    border-bottom: 1rem solid $custom-grey;
    max-height: 50vh;
    width: calc(100% - 8rem);

}


.d-none {
    display: none;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    background-color: #fafafa;

    h3 {
        color: $custom-violet;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    .separator {
        max-width: 10%;
        width: 10rem;
        border-bottom: 4px solid $custom-violet;
        border-radius: 50%;
    }

    span {
        margin-top: 2rem;
        font-size: 1.2rem;
        color: $custom-darkblue;
    }

    button {
        margin-bottom: 5vh;
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
        text-transform: uppercase;

        &:hover {
            background-color: $custom-magenta;
        }
    }
}

.about-details {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 2rem;

    div {
        width: 30vw;
        padding: 3rem;

        img {
            max-height: 12rem;
            max-width: 100%;
            object-fit: contain;
            border-radius: 1rem;
            margin-bottom: 0.5rem;
        }

        h3 {
            color: $custom-violet;
            font-weight: bold;
            font-size: 1.2rem;
        }

        span {
            color: $custom-darkblue;
            max-width: 10rem;
            font-size: 1.1rem;
        }
    }

}
.btn-container {
    margin: 4rem;
}

.mobile-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}


@media (max-width: 1200px) {
    .headline-container {
        h1 {
            font-size: 36px;
        }
    }

    .about-section {
        button {
            font-size: 1.3rem;
        }
    }

    .about-details {
        div {
            padding: 3rem;
            width: 40vw;
        }
    }

}

@media (max-width: 1000px) {
    header nav img {
        max-height: 4rem;
        left: 3rem;
    }

    .about-details {
        flex-direction: column;
        align-items: center;

        div {
            width: 70vw;
            padding: 2rem;
        }
    }
}

@media (max-width: 850px) {
    
    .headline-container {
        h1 {
            font-size: 32px;
            line-height: 46px;
        }

        mat-icon {
            font-size: 2.5rem;
        }
    }

    .background-image {
        margin: 2rem;
        width: calc(100% - 4rem);
        top: 56px;
        height: calc(100% - 56px);
    }

    .about-section {
        padding-top: 2rem;

        h3 {
            font-size: 1.3rem;
        }

        span {
            width: 80%;
            text-align: center;
            font-size: 1.1rem;
            margin-top: 1rem;
        }

        button {
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
        }
    }

    .btn-container {
        margin: 3rem;
    }

}

@media (max-width: 850px) {
    .landing-page-overlay {
        position: relative;
        text-align: center;
    }

    header {
        display: none;
    }
}

@media (max-width: 650px) {
    header nav {
        padding: 28px 16px;

        img {
            max-height: 3rem;
            left: 2rem;
        }

        a {
            margin-left: 16px;
            margin-right: 16px;
        }

    }

    .headline-container {
        h1 {
            font-size: 28px;
            line-height: 38px;
        }
    }

    .background-image {
        margin: 1rem;
        width: calc(100% - 2rem);
    }
}