<img class="landing-page-overlay background-image" src="./assets/img/background.jpg">

<div class="landing-page-overlay landing-page-container">
    <header>
        <nav>
            <a *ngIf="!isLoggedIn" href="/login">Login</a>
            <!-- <a *ngIf="isLoggedIn"  href="/dashboard">Dashboard</a> -->
            <a *ngIf="isLoggedIn"  href="/user">Users</a>
            <a *ngIf="isLoggedIn"  href="/organisation">Organisation</a>
        </nav>
    </header>

    <h1>Easy customer management<br>
        for small businesses</h1>

</div>