<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Edit Admins</h1>
    <div mat-dialog-content>
        <div *ngIf="adminsOut.length > 0">
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Add Admins</mat-label>
                <mat-select [(value)]="selectedAdminsToAdd" multiple>
                    <mat-option *ngFor="let admin of adminsOut;" [value]="admin.customIdName">{{admin.firstName}}</mat-option>
                </mat-select>
                <mat-hint>Add Admins to Organisation</mat-hint>
            </mat-form-field>
        </div>

        <div *ngIf="adminsIn.length > 0">
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Remove Admins</mat-label>
                <mat-select [(value)]="selectedAdminsToRemove" multiple>
                    <mat-option *ngFor="let admin of adminsIn;" [value]="admin.customIdName">{{admin.firstName}}</mat-option>
                </mat-select>
                <mat-hint>Remove Admins from Organisation</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
        <button [disabled]="loading" mat-button (click)="saveChanges()" cdkFocusInitial>Save</button>
    </div>
</div>