ngx-auth-firebaseui {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 25rem;
}

.background-image {
    object-fit: cover;
    z-index: -1;
}

.login-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.login-container {
    background-color: rgba(60, 36, 196, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 160px);
    padding: 20px 80px 0 80px;
    height: auto;

}


header {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;

    nav {
        display: flex;
        justify-content: flex-end;
        padding: 32px;

        a {
            color: white;
            margin-left: 32px;
            margin-right: 32px;
            text-decoration: none;
            font-weight: 550;
            font-size: 16px;
            letter-spacing: 1.25px;

            &:hover {
                color: rgba(255,255,255,0.6);
            }
        }
    }
}

app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

@media (max-width: 850px) {
    .login-container {
        width: calc(100% - 80px);
        padding: 20px 40px;
        top: 56px;
    }

    ngx-auth-firebaseui {
        padding: 1rem;
        max-width: 20rem;

        ::ng-deep .mat-card {
            margin: 1rem;
        }
    }

    header {
        display: none;
    }
}

// Responsive design - mobile portrait view
@media (max-width: 450px), (max-height: 600px) {
    .login-container {
        width: calc(100% - 40px);
        padding: 20px 20px;
    }

    ngx-auth-firebaseui {
        padding: 0.5rem;

        ::ng-deep .mat-card {
            margin: 0.5rem;
        }

        ::ng-deep .mat-card-title { 
            font-size: 18px;
        }
    }
}

// Responsive design - mobile landscape view
@media (max-height: 600px) {
    header {
        // position: unset;

        nav {
            padding: 12px;
        }
    }

    .login-container {
        padding-top: 8px;
    }

    
    ngx-auth-firebaseui {
        overflow-y: scroll;
        margin-bottom: 1rem;

        ::ng-deep .mat-tab-label {
            height: 32px;
            padding: 0 12px;
       }

        ::ng-deep .mat-form-field-infix {
            border-top: .5em;
        }
    }
}