.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;
}

.logo-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    display: flex;
    align-items: center;

    img {
        cursor: pointer;
    }
}

mat-toolbar,
mat-toolbar-row {
    min-height: 56px;
    height: 56px;
    justify-content: space-between;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon {
            margin-right: 16px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }

        &:focus {
            outline: none;
        }
    }
}

.router-container {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
}

.logo {
    max-width: 100%;
    height: 48px;
}

::ng-deep .mat-fab.mat-accent, ::ng-deep .mat-mini-fab.mat-accent, ::ng-deep .mat-raised-button.mat-warn {
    background-color: #e91e63;
    background-image: none !important;
}

::ng-deep .mat-menu-panel {
    padding: 0.5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #545454;

    a {
        margin: 0 0.5rem;
        color: #fff;
        text-decoration: none;
        transition: 0.125ms all ease-in-out;

        &:hover {
            text-decoration: underline;
        }
    }
}

.link-wrapper {
    margin: 2rem 0;
    color: #fff;
}