<div class="imprint-container">

    <h1>Impressum</h1>
    
    <h3>Rechtlich verantwortlich:</h3> 
    <p>Junus Ergin & Manuel Thaler GbR <br>
        Lilienstraße 3 <br>
        81669 München <br>
        <br>
        vertretungsberechtigte Gesellschafter: Junus Ergin & Manuel Thaler <br>
        <br>
        Telefon: +49  / 171 311 06 89 <br>
        E-Mail: info@developerakademie.com
    </p>
    
    <h3>Inhaltlich verantwortlich:</h3> 
    <p>Mihai-Andrei Neacsu & Carina Karthaus</p>
</div>