<img class="register-overlay background-image" src="./assets/img/background.jpg">

<div class="register-overlay register-container">
    <header>
        <nav>
            <!-- <a href="register">Register</a> -->
            <a href="#">Login</a>
        </nav>
    </header>


    <mat-card class="register-dialog">
        <mat-card-header>
          <mat-card-title>Welcome to Simple-CRM!</mat-card-title>
          Register for free with your email or continue with your Facebook or Google account.

        </mat-card-header>
        <mat-card-content>

            <mat-form-field appearance="fill" >
                <mat-label>Your email</mat-label>
                <input matInput [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>

            <!-- <mat-form-field appearance="fill">
              <mat-label>Define your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field> -->
       

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="sign-up-btn" [routerLink]="['/register/email']" >Sign up</button>        
          <div class="separator-container">
            <div class="separator"></div>  
            OR
            <div class="separator"></div>  
          </div>
          <button mat-raised-button class="continue-btn fb"> <fa-icon [icon]="faFacebookSquare"></fa-icon> Continue with Facebook</button>
          <button mat-raised-button class="continue-btn"> <fa-icon [icon]="faGoogle"></fa-icon> Continue with Google</button>
        </mat-card-actions>
      </mat-card>



</div>